node_modules
.env
*.log
backend/temp/
backend/data/db.json
backend/dist/
frontend/dist/
net-client/.vs
net-client/SIUTeam.MetaAI/bin
net-client/SIUTeam.MetaAI/obj
net-client/SIUTeam.MetaAI.Domain/bin
net-client/SIUTeam.MetaAI.Domain/obj
net-client/SIUTeam.MetaAI.Services/bin
net-client/SIUTeam.MetaAI.Services/obj
net-client/SIUTeam.MetaAI/nodejs/data
net-client/SIUTeam.MetaAI/nodejs/public
net-client/SIUTeam.MetaAI/nodejs/temp
net-client/SIUTeam.MetaAI/nodejs/*.js
net-client/SIUTeam.MetaAI/nodejs/*.json
net-client/SIUTeam.MetaAI/nodejs/*.log
net-client/SIUTeam.MetaAI/nodejs/*.bin
net-client/SIUTeam.MetaAI/App.config
